*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
    }
    
    body{
    background:#cfe3d8;
    color:#1f2937;
    }
    
    /* NAVBAR */
    
    .navbar{
    background:white;
    padding:15px 40px;
    border-bottom:1px solid #e5e7eb;
    }
    
    .logo{
    font-weight:bold;
    font-size:18px;
    display:flex;
    align-items:center;
    gap:8px;
    color:#111827;
    }
    
    /* HERO */
    
    .hero{
    max-width:900px;
    margin:80px auto;
    padding:20px;
    }
    
    .tag{
    display:inline-block;
    background:#d1fae5;
    color:#047857;
    padding:8px 14px;
    border-radius:20px;
    font-size:14px;
    margin-bottom:25px;
    }
    
    .hero h1{
    font-size:60px;
    font-weight:800;
    line-height:1.1;
    margin-bottom:20px;
    }
    
    .green{
    color:#16a34a;
    }
    
    .hero p{
    max-width:650px;
    font-size:18px;
    color:#374151;
    margin-bottom:30px;
    }
    
    /* BUTTONS */
    
    .buttons{
    display:flex;
    gap:15px;
    margin-bottom:35px;
    }
    
    .btn-primary{
    background:#16a34a;
    color:white;
    padding:12px 22px;
    border-radius:8px;
    text-decoration:none;
    font-weight:bold;
    transition:0.3s;
    }
    
    .btn-primary:hover{
    background:#15803d;
    }
    
    .btn-secondary{
    background:#e5e7eb;
    color:#111827;
    padding:12px 22px;
    border-radius:8px;
    text-decoration:none;
    font-weight:bold;
    }
    
    .btn-secondary:hover{
    background:#d1d5db;
    }
    
    /* FEATURES */
    
    .features{
    display:flex;
    gap:40px;
    font-size:14px;
    color:#065f46;
    }