.como-funciona{
    padding:80px 20px;
    background:#f3f4f6;
    text-align:center;
}
    
.como-funciona h2{
    font-size:36px;
    margin-bottom:10px;
    color:#111827;
}
    
.subtitulo{
    color:black;
    margin-bottom:50px;
    font-size: 20px;
}
    
.cards{
    max-width:1000px;
    margin:auto;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:29px;
}
    
.card{
    background:white;
    padding:25px;
    border-radius:12px;
    border:1px solid #e5e7eb;
    text-align:left;
    transition:0.3s;
    align-items: center;
}
    
.card:hover{
    transform:translateY(-5px);
    box-shadow:0 8px 20px rgba(0,0,0,0.08);
}
    
.icon{
    width:45px;
    height:45px;
    display:flex;
    align-items:center;
    justify-content:center;
    background:#dcfce7;
    color:#16a34a;
    border-radius:10px;
    font-size:20px;
    margin-bottom:15px;
}
    
.card h3{
    margin-bottom:8px;
    font-size:18px;
    align-items: center;
}
    
.card p{
    color:black;
    font-size:20px;
}