*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: Arial, Helvetica, sans-serif;
}

body{
background:#d7e8dd;
color:#1f2937;
}

.navbar{
background:lightgreen;
padding:18px 40px;
display:flex;
justify-content:space-between;
align-items:center;
border-bottom:1px solid #e5e7eb;
}

.logo{
font-size:30px;
font-weight:bold;
}

.menu{
display:flex;
gap:20px;
}

.menu a{
text-decoration:none;
color:#374151;
font-weight:600;
}

.menu a:hover{
color:#16a34a;
}

.pontos{
padding:80px 20px;
text-align:center;
}

.pontos h2{
font-size:36px;
margin-bottom:10px;
}

.subtitulo{
color:#6b7280;
margin-bottom:50px;
font-size: 20px;
}

.grid-pontos{
max-width:600px;
margin:auto;
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:25px;
}

.card-ponto{
background:white;
padding:25px;
border-radius:12px;
border:1px solid #e5e7eb;
text-align:left;
transition:0.3s;
}

.card-ponto:hover{
transform:translateY(-6px);
box-shadow:0 10px 25px rgba(0,0,0,0.08);
}

.icon{
width:45px;
height:45px;
display:flex;
align-items:center;
justify-content:center;
background:#dcfce7;
border-radius:10px;
font-size:22px;
margin-bottom:12px;
}

.card-ponto h3{
color:#16a34a;
margin-bottom:8px;
font-size:20px;
}

.card-ponto p{
font-size:20px;
margin-bottom:5px;
}

.card-ponto span{
font-size:20px;
color:#6b7280;
}